/* *{
    border: 1px dotted blue;
} */
*{

/* // <uniquifier>: Use a unique and descriptive class name
   // <weight>: Use a value from 200 to 700
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  */
  font-family: "Oswald", sans-serif;
  color: white;
}

i {
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: rgba(7,4,57,1);
    background: radial-gradient(circle,rgba(41,41,185,1) 0%, rgba(0,212,255,1)) 100%;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50% ;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0 50% ;
    }
}


h1{
    margin-top: 2em;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    padding: 24px;
    text-shadow: 5px 3px 5px black;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    animation: borderAnimation 4s infinite;
    background: linear-gradient(to bottom right, rgba(7,4,57,1) 0%, rgba(41,41,185,1) 100%);
}

@keyframes borderAnimation {
    0% {
        border-color: red;
    }
    25% {
        border-color: rgb(255, 183, 0);
    }
    50% {
        border-color: rgb(175, 52, 30);
    }
    75% {
        border-color: rgb(255, 136, 0);
    }
    100% {
        border-color: red;
    }
}

.title-styleSquare{
    background-color: rgb(221, 21, 21);
    width: 3.5vw;
    border-radius: 50px 50px 50px 50px;
    text-shadow: 1px 1px 1px 1px ;
}

#title-styleRound{
    background-color: rgb(255, 136, 0);
    width: 3.5vw;
    border-radius: 5px;
    text-shadow: 1px 1px 1px 1px;

}

#zoneJeu{
    margin-top: 10vh;
    margin-bottom: 3vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(7,4,57,1) 10px 0px 10px 10px;
    min-height: 30vh;
}

.lettre{
    border: 5px solid black;
    border-radius: 15px;
    padding: .5rem;
    text-align: center;
    width: 1.5rem;
    font-size: x-large;
}

#tableJeu{
    display: grid;
    width: fit-content;
    margin: 0 auto;
    gap: .5rem;
    padding: .5em;
}

.ligne{
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: .5rem;
  padding: .5em;
}
.rouge{
    background-color: #dd1515}
.orange{
    background-color: #ff8800;
}
#zoneClavier{
    width: 70%;
}
i{color: #000000 !important;
}

.keyboard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 100%; 
}
.key-row{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: .5rem;
    margin-bottom: .5rem;
}
.key{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 2px 2px 5px rgba(7,4,57,1);
    padding: .5rem;
    text-align: center;
    width: 1.5rem;
    font-size: x-large;
    background-color: aliceblue;
   
}

.key:hover {
    background-color: rgb(97, 87, 87);
}

.key > span {
    color: black;
}

#zoneScoreEnCours{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 80%;
    text-decoration: underline;
}

#historique{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-wrap: wrap;
    margin-bottom: .5rem;
    width: 70%;
    border: 3px solid black;
    border-radius: 15px; 
}
#historique > h2 {
    width: 45%;
}

i{
    color: black;
}




@media (max-width: 680px) {
    h1 {
      font-size: 50px;
      padding: 12px;
    }

    .title-styleSquare{
        background-color: rgb(221, 21, 21);
        width: 13vw;
        border-radius: 50px 50px 50px 50px;
        text-shadow: 1px 1px 1px 1px ;
    }
    
    #title-styleRound{
        background-color: rgb(255, 136, 0);
        width: 13vw;
        border-radius: 5px;
        text-shadow: 1px 1px 1px 1px;
    
    }

    .lettre {
      width: 0.8rem;
      font-size: medium;
    }

    .key {
      width: 2rem;
      font-size: medium;
    }

    #zoneJeu, #zoneClavier, #zoneScoreEnCours, #historique {
      width: 90vw;
      padding: 0.5rem;
    }

    .key-row {
      gap: 0.25rem;
    }
}

